{% extends 'core.html' %}
{% block content %}
{% endblock %}
{% block h1 %}
    <style>


        .container {
            max-width: 500px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 30px;
            margin: auto;
        }

        h1 {
            color: #007bff;
        }

        .form-label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="date"],
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
        }

        input[type="text"]:focus,
        input[type="date"]:focus,
        select:focus {
            border-color: #007bff;
            box-shadow: 0 0 5px #007bff;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .btn-primary:focus {
            box-shadow: 0 0 5px #007bff;
        }
    </style>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Formulario de Empleado</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_nombre" class="form-label">Nombre:</label>
                {{ form.nombre }}
            </div>
            <div class="mb-3">
                <label for="id_direccion" class="form-label">Dirección:</label>
                {{ form.direccion }}
            </div>
            <div class="mb-3">
                <label for="id_telefono" class="form-label">Teléfono:</label>
                {{ form.telefono }}
            </div>
            <div class="mb-3">
                <label for="id_fecha_contratacion" class="form-label">Fecha de Contratación:</label>
                {{ form.fecha_contratacion }}
            </div>
            <div class="mb-3">
                <label for="id_rol" class="form-label">Rol:</label>
                {{ form.rol }}
            </div>
            <div class="mb-3">
                <label for="id_salario" class="form-label">Salario:</label>
                {{ form.salario }}
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
{% endblock %}